BACKEND_HOST=https://api.staging.nft.aliveland.io/
INFURA_API_KEY=8c611d7bafdc48b880ca6e6ae2bb7f5c
WALLET_CONNECT_PROJECT_ID=81d57d4fdea044970ba83c7470acf616
PINATA_API =eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJiZTA0NWE2OS01NzQ0LTQ5YjktOTFmNi03MzAwNDA0YmEwODEiLCJlbWFpbCI6ImRlbmlzZ2x1c2hpa29AZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siaWQiOiJGUkExIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9LHsiaWQiOiJOWUMxIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjIwOTljMDFjYjk1ODI3YmVmZDQ0Iiwic2NvcGVkS2V5U2VjcmV0IjoiY2Y2N2VmNTg2MjE3ZTQ2OGRjMDY3NTVmYjc0MGQ0MmMyYjVmNmQxMDFkYmQ3ZWIxZmJmYjlmNDM4Mjc4ODdjNCIsImlhdCI6MTcwMTMxMDExOX0.dcHbym47mtXOSChbafNw11TO6LgVCuAKO9R90embTOY
PINATA_GATEWAY_API =5gZY66dY6od6WFZwu6sCfqLgmZsbWgIAPplmoCE6VB0TTfrPD5lN7dDEOHhkq17O
PINATA_GATEWAY =https://aquamarine-major-platypus-851.mypinata.cloud/ipfs/
SUBGRAPH_URL=https://api.studio.thegraph.com/query/68137/aliveland-nft-subgraph/version/latest
CHAIN_ID=80001
